{
    "users": {
        "slack_id": {
            "slack_id": "",
            "last_cooked": "",
            "last_helped": "",
            "unavail_until": ""
        }
    },
    "dish_histroy": [
        {
            "dish_name": "",
            "cooked": [
                {
                    "cooked_by": "slack_id",
                    "date": "",
                    "rating": "",
                    "voted": [
                        {
                            "slack_id": 0
                        }
                    ]
                }
            ]
        }
    ]
}