{
    "dish_histroy": [
        {
            "dish_name": "[dish name]",
            "cooked_by": "[slack_id]",
            "helped": "[slack_id]",
            "date": "[unix timestamp]",
            "rating": "",
            "voted": [
                {
                    "[slack_id]": "[true|false]"
                }
            ]
        }
    ]
}